body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ol,
#webgl,
#osd {
  border: solid #cccccc 1px;
  width: 100%;
  height: 100%;
}
